.navbar {
  background-color: #004A89;
  z-index: 999999;
}

.navbar nav .mainnav {
  padding: 0;
  margin: 0;
}

.navbar nav .mainnav .navitems {
  list-style: none;
  display: inline-block;
  position: relative;
}

.navbar nav .mainnav .navitems a {
  display: block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  line-height: 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar nav .mainnav .navitems a:hover {
  color: #73777F;
}

.navbar nav .mainnav .navitems .fdown li {
  width: 310px;
}

.navbar nav .mainnav .navitems:hover .dropdown {
  display: block;
}

.navbar nav .mainnav .dropdown {
  position: absolute;
  list-style: none;
  top: 30px;
  margin: 0;
  padding: 0;
  background-color: #004A89;
  display: none;
}

.navbar nav .mainnav .dropdown li {
  width: 200px;
  display: list-item;
}

.navbar nav .mainnav .dropdown li a {
  line-height: 35px;
}

.navbar nav .mainnav .dropdown .navitem2 {
  position: relative;
}

.navbar nav .mainnav .dropdown .navitem2:hover .dropdown2 {
  display: block;
}

.navbar nav .mainnav .dropdown .dropdown2 {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: -5px;
  left: 200px;
}

.navbar nav .mainnav .dropdown .dropdown2 li {
  list-style: none;
  background-color: #004A89;
}

.navbar nav .mainnav .dropdown .dropdown2 li a {
  line-height: 40px;
}

.navbar nav .checkbtn, .navbar nav .checkbtn1 {
  font-size: 30px;
  color: white;
  padding-top: 5px;
  cursor: pointer;
  display: none;
}

.navbar nav .checkbtn1 {
  display: block;
  height: 10px;
  position: relative;
  left: -250px;
  top: -250px;
  z-index: 9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar nav #click {
  display: none;
}

.footer {
  background-color: #004A89;
  color: white;
}

.footer .fpart {
  text-align: center;
}

.footer .fpart ul {
  padding-left: 0;
}

.footer .fpart ul li {
  list-style: none;
  display: inline;
}

.footer .fpart ul li a {
  padding-left: 10px;
  color: white;
}

.footer .fpart p {
  padding: 10px 0;
}

.footer .spart ul {
  padding-left: 0;
}

.footer .spart ul li {
  list-style: none;
  display: inline;
}

.footer .spart ul li a {
  color: white;
  padding-left: 10px;
}

.footer .tpart ul li {
  line-height: 34px;
}

.footer .tpart ul li a {
  color: white;
  text-decoration: none;
}

.footer .fopart {
  line-height: 16px;
}

.footer .fopart ul li {
  display: inline;
  padding-left: 10px;
}

.footer .fopart ul li a {
  color: white;
}

.footer .copyright {
  border-top: 0.3px solid black;
  padding: 20px 0;
}

.footer .copyright p {
  margin: 0;
}

.arrow {
  z-index: 999;
  display: none;
}

.arrow button {
  background-color: #73777F;
  border-radius: 2px;
  padding: 10px 14px;
  border: 0;
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: white;
}

@media (max-width: 1400px) {
  .navbar nav .mainnav .navitems a {
    padding: 0 12px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .navbar nav .mainnav .navitems a {
    padding: 0 39px;
  }
}

@media (max-width: 1024px) {
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar nav .mainnav .navitems a {
    padding: 0 12px;
    font-size: 18px !important;
    line-height: 38px !important;
  }
  nav .mainnav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: -100%;
    height: 100vh;
    text-align: center;
    background-color: #004A89;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav .mainnav .navitems {
    display: block !important;
    border-bottom: 1px solid rgba(165, 164, 164, 0.3);
  }
  nav .mainnav .navitems .dropdown {
    position: relative;
    width: 100%;
    top: 0px;
    left: 320px;
    text-align: left;
  }
  nav .mainnav .navitems .dropdown .dropdown2 {
    position: relative;
    width: 100%;
    left: 10px;
  }
  nav .mainnav a {
    line-height: 34px !important;
  }
  nav .checkbtn {
    display: block !important;
    position: relative;
    left: 650px;
  }
  nav #click:checked ~ .mainnav {
    left: 0;
  }
  nav #click:checked ~ .checkbtn1 {
    left: 550px;
    top: -330px;
  }
  .footer .fpart img {
    width: 40%;
  }
  .footer .fpart p {
    padding-top: 20px;
  }
  .footer .spart, .footer .fopart {
    text-align: center;
    padding-top: 20px;
  }
  .footer .tpart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .dropdown {
    position: relative;
    width: 100%;
    top: 0px;
    left: 280px !important;
    text-align: left;
  }
  .dropdown .dropdown2 {
    position: relative;
    width: 100%;
    left: 10px;
  }
  .checkbtn {
    display: block !important;
    position: relative;
    left: 460px !important;
  }
  #click:checked ~ .checkbtn1 {
    left: 400px !important;
    top: -280px !important;
  }
  .arrow button {
    bottom: 40px;
    right: 40px;
  }
}

@media (max-width: 600px) {
  .dropdown {
    position: relative;
    width: 100%;
    top: 0px;
    left: 200px !important;
    text-align: left;
  }
  .dropdown .dropdown2 {
    position: relative;
    width: 100%;
    left: 10px;
  }
  .checkbtn {
    display: block !important;
    position: relative;
    left: 400px !important;
  }
  #click:checked ~ .checkbtn1 {
    left: 400px !important;
    top: -280px !important;
  }
  .arrow button {
    bottom: 40px;
    right: 40px;
  }
}

@media (max-width: 480px) {
  .head .socials {
    text-align: center;
  }
  .head .socials li {
    padding: 0 10px;
  }
  .head .abouts {
    font-size: 14px;
    text-align: center;
  }
  .head .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .dropdown {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px !important;
    text-align: left;
  }
  nav .dropdown .dropdown2 {
    position: relative;
    width: 100%;
    left: 10px !important;
  }
  nav .mainnav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: -100%;
    height: 100vh;
    text-align: center;
    background-color: #004A89;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav .mainnav .navitems {
    display: block !important;
  }
  nav .mainnav a {
    line-height: 34px !important;
  }
  nav .checkbtn {
    display: block !important;
    position: relative;
    left: 300px !important;
  }
  nav #click:checked ~ .mainnav {
    left: 0;
  }
  nav #click:checked ~ .checkbtn1 {
    left: 250px !important;
    top: -250px !important;
  }
}

body {
  background-color: #EEEEEE;
}

.container {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 22px -21px;
          box-shadow: 0px 0px 22px -21px;
  padding: 10px 20px;
}

.header {
  padding-bottom: 10px;
}

.header .hflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hflex img {
  width: 60px;
}

.header .hflex ul {
  padding-left: 10px;
}

.header ul {
  list-style: none;
  padding-top: 15px;
}

.header ul li {
  display: inline-block;
  padding-left: 5px;
}

.header .lang_translator {
  text-align: right;
}

.header .lang_translator ul li a {
  text-decoration: none;
  color: black;
}

.header .lang_translator button {
  background-color: #FFFFFF;
  border: none;
}

.banner {
  padding-top: 10px;
}

.banner .recentnews {
  position: relative;
  border: 1px solid #CE2525;
  overflow: hidden;
  height: 40px;
}

.banner .recentnews .news {
  background-color: #CE2525;
  padding: 0;
  width: 140px;
  height: 40px;
  position: absolute;
  top: -1px;
}

.banner .recentnews .news p {
  margin-bottom: 0;
  padding: 5px 10px;
  color: #FFFFFF;
  font-weight: 900;
}

.banner .recentnews .owl-carousel {
  position: absolute;
  top: 0;
  left: 150px;
}

.banner .recentnews .owl-carousel .owl-nav .owl-prev {
  background-color: #f4f4f4;
  font-size: 28px;
  color: #999999;
  font-weight: 900;
  position: absolute;
  top: -5px;
  right: 226px;
  padding: 0 15px !important;
  border: 0.5px solid gainsboro;
}

.banner .recentnews .owl-carousel .owl-nav .owl-prev:hover {
  background-color: #EEEEEE;
}

.banner .recentnews .owl-carousel .owl-nav .owl-next {
  background-color: #f4f4f4;
  position: absolute;
  color: #999999;
  font-weight: 900;
  font-size: 28px;
  top: -5px;
  right: 150px;
  padding: 0px 15px !important;
  border: 0.5px solid gainsboro;
}

.banner .recentnews .owl-carousel .owl-nav .owl-next:hover {
  background-color: #EEEEEE;
}

.banner .recentnews .owl-carousel .owl-stage-outer {
  padding-top: 5px;
}

.banner .recentnews .stop {
  background-color: #f4f4f4;
  color: #999999;
  position: absolute;
  right: 36px;
  max-width: 41px;
  top: -1px;
  z-index: 999;
  padding: 8px 16px !important;
  border: 0.5px solid gainsboro;
}

.banner .banner_container {
  padding-top: 10px;
}

.banner .card_banner {
  background-color: #eee;
  text-align: center;
}

.banner .card_body {
  padding: 1.25rem;
}

.banner .card_body h5 {
  padding-top: 5px;
}

.banner .card_body p {
  margin: 0;
}

.banner .image {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.banner .sbanner {
  padding-top: 0px;
}

.message {
  padding-top: 30px;
}

.message .title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  padding-bottom: 10px;
}

.message .mission {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: center;
  background-color: #EEEEEE;
  padding: 20px;
  line-height: 1.5;
}

.message .mission img {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.message .mission .text-left {
  text-align: center;
}

.message .mission p {
  text-align: justify;
}

.message .mission h1 {
  color: #004A89;
}

.message button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.message button:hover {
  background-color: #004A89;
}

.event {
  padding-top: 60px;
}

.event .event_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #004A89;
}

.event .event_gallery button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.event .event_gallery button:hover {
  background-color: #004A89;
}

.event .event_gallery h5 {
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}

.event .event_gallery button {
  margin: 3px 10px;
}

.event .col-lg-6 button {
  background-color: #004A89;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}

.event .event_name {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.event .event_name h5, .event .event_name p {
  padding-left: 10px;
}

.event .events {
  background-color: #eee;
}

.event .events h5 {
  background-color: #004A89;
  color: white;
  padding: 5px;
  text-align: center;
  margin: 0;
}

.event .events_link {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.event .events_link ul {
  padding-top: 15px;
}

.event .events_link ul li a {
  text-decoration: none;
  color: black;
}

.copyright {
  padding: 5px 0;
}

.copyright .cright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright .cright span {
  color: #007BFF;
  font-weight: 700;
}

.copyright .cright p {
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .navbar nav .mainnav .navitems a {
    padding: 0 12px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  #click:checked ~ .mainnav {
    left: 0;
  }
  #click:checked ~ .checkbtn1 {
    left: 600px;
    top: -200px;
  }
}

@media (max-width: 1024px) {
  nav #click:checked ~ .checkbtn1 {
    left: 600px;
    top: -143px;
  }
}

@media (max-width: 768px) {
  #click:checked ~ .checkbtn1 {
    left: 400px !important;
    top: -220px !important;
  }
}

@media (max-width: 480px) {
  .header .hflex ul {
    padding-top: 0px;
  }
  nav #click:checked ~ .checkbtn1 {
    left: 300px !important;
    top: -190px !important;
  }
  .lang_translator ul {
    padding-top: 0;
  }
  .banner .recentnews .owl-carousel {
    left: 0;
  }
  .news {
    display: none;
  }
  .banner .recentnews .owl-carousel .owl-nav .owl-next {
    right: 0;
  }
  .banner .recentnews .owl-carousel .owl-nav .owl-prev {
    right: 76px;
  }
  .banner .recentnews {
    height: 36px;
  }
  .spart, .tpart {
    padding-left: 20px;
  }
  .fpart p, .fpart h5 {
    padding-left: 20px !important;
  }
  .cright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  .cright .powered {
    text-align: end;
  }
}
/*# sourceMappingURL=home.css.map */