@media(max-width:1400px)
{
    .navbar nav .mainnav .navitems a
    {
        padding: 0 12px;
        font-size: 14px;
    }
}

@media(max-width:1200px)
{
    .navbar nav .mainnav .navitems a
    {
        padding: 0 39px;
    }
}

@media(max-width:1024px)
{
    .language 
    {
        display: flex;
        justify-content: center;
    }
    .navbar nav .mainnav .navitems a
    {
        padding: 0 12px;
        font-size: 18px !important;
        line-height: 38px !important;
    }
    nav 
    {
        width: 100%;
        .mainnav 
        {
            display: none;
            text-align: left;
            background-color: $brand;
            .navitems
            {
                display: block !important;
                border-bottom: 1px solid rgba(165, 164, 164, 0.3);
                .dropdown
                {
                    position: relative;
                    width: 100%;
                    top: 0px;
                    left: 20px;
                    text-align: left;
                    .dropdown2 
                    {
                        position: relative;
                        width: 100%;
                        left: 10px;
                    }
                }
            }
            a 
            {
                line-height: 34px !important;
            }
        }
        .checkbtn 
        {
            display: block !important;
        }
        
        #click:checked ~ .mainnav
        {
            display: block ;
        }
    }
    .footer 
    {
        .fpart 
        {
            img 
            {
                width: 40%;
            }
            p 
            {
                padding-top: 20px;
            }
        }
        .spart , .fopart
        {
            text-align: center;
            padding-top: 20px;
        }
        .tpart
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
    }
}

@media(max-width:768px)
{
    .arrow 
    {
        button 
        {
            bottom: 40px;
            right: 40px;
        }
    }
}

@media(max-width:600px)
{
    .arrow 
    {
        button 
        {
            bottom: 40px;
            right: 40px;
        }
    }
}

@media(max-width:480px)
{
    .head 
    {
        .socials
        {
            text-align: center;
            li 
            {
                padding: 0 10px;
            }
        }
        .abouts 
        {
            font-size: 14px;
            text-align: center;
        }
        .language 
        {
            display: flex;
            justify-content: center;
        }
    }
    nav 
    {
        .mainnav 
        {
            a 
            {
                line-height: 34px !important;
            }
        }
    }
}