

$brand : #004A89;

@import 'header';
@import 'nav';
@import 'calender';
@import 'footer';
@import 'arrow';
@import 'responsive';

.headhistory
{
    padding-top: 40px;
    padding-bottom: 70px;
    .col-lg-8
    {
        padding-right: 20px;
        border-right: 1px solid black;
    }
    .col-lg-4
    {
        padding-left: 30px;
    }
    .history
    {
        padding-right: 40px;
        h3 
        {
            color: $brand;
            padding-bottom: 20px;
        }
        img 
        {
            padding-bottom: 20px;
        }
    }
    .table
    {
        th 
        {
            background-color: $brand;
            color: white;
        }
        tr:hover
        {
            background-color: #F3F3F3;
        }
        .table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after
        {
            opacity: 0.6;
        }
        .table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before
        {
            opacity: 0.6;
        }
        .table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before
        {
            bottom: 54%;
        }
    }
    h5 
    {
        color: $brand;
    }
}



@media(max-width:1200px)
{
    .headhistory 
    {
        .col-lg-4
        {
            padding-left: 20px;
        }
    }
}

@media(max-width:1024px)
{
    .headhistory 
    {
        .col-lg-8 
        {
            border: none;
        }
        .col-lg-4
        {
            padding-left: 10px;
        }
    }
}

@media(max-width:600px)
{
    .headhistory
    {
        padding-left: 10px;
    }
}

@media(max-width:480px)
{
    .headhistory .spart
    {
        padding-left: 0;
    }
}